.justify {
  font-size: 0;
  text-align: justify;
  text-justify: distribute-all-lines;
}

.justify:after{
  content: '';
  display: inline-block;
  font-size:0;
  height: 0;      
  line-height:0;
  width: 100%;  
}

.hidden {
  visibility: hidden !important;
}

.none {
  display: none !important;
}