.logo {
  margin-bottom: 5rem;
  width: 14rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0); 
  z-index: 8000;
  width: 16.5rem;
}

.logo #chucks-head {
  animation: spin 1s ease 1.5s 1 normal forwards;
  transform-origin: 50% 50% 0;
  transform: matrix(1.0002, 0, 0, 1.0002, 228.0928, 32.7092);
}

@keyframes spin {
  0% {
    transform: matrix(1.0002, 0, 0, 1.0002, 228.0928, 32.7092) rotate(0deg);
  } 
  100% {
    transform: matrix(1.0002, 0, 0, 1.0002, 228.0928, 32.7092) rotate(360deg);    
  }
}

.recede {
  /*transform: translate3d(0%, 0%, 0);*/
  animation: recede .8s ease 1s 1 normal forwards;
}

@keyframes recede {
  0% {
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0) scale(3);
  } 
  100% {
    left: 3%;
    top: 3%;
    transform: translate3d(0%, 0%, 0) scale(1);
    width: 13rem;
  }
}