.message-container {
  /*background-color: rgba(255,255,255,1);*/
  /*border: 3px solid #e2e2e2;*/
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  /* width: 90%; */
  padding: 1.9rem;
  margin: 0 auto;
  transform: translate3d(-50%, -50%, 0);
}

.message {
  color: #277a9c;
  font-size: 5.9rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  margin-bottom: 0.3rem;
  position: absolute;
  z-index: 8000;
  font-family: Hammerhead;
}

.raised {
  width: 390px;
}

.reraised {
  width: 520px;
}

.called {
  width: 390px;  
}

.checked {
  width: 478px;
}

.folded {
  width: 410px;
}

.chuck-won {
  height: 240px;
  width: 708px;
}

.you-won {
  height: 227px;  
  width: 223px;
}

.message-sub {
  color: #999;
  background-color: rgba(0,0,0,0.6);
  padding: 0.7rem;
  display: inline-block;
  color: #fff;
  font-family: Lato;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400;
  text-transform: none;
  font-style: italic;
  position: absolute;
  bottom: 1rem;
  right: 3rem;
}

.message-0 {
  /* top: 90%; */
}

.message-1 {
  top: 30%;
}