.message-container {
  background-color: rgba(255,255,255,1);
  border: 3px solid #e2e2e2;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  /* width: 90%; */
  padding: 1.9rem;
  margin: 0 auto;
  transform: translate3d(-50%, -50%, 0);
}

.message {color: #277a9c;font-size: 2.9rem;font-weight: 700;line-height: 1;text-transform: uppercase;left: 0;margin-bottom: 0.3rem;/* max-width: 510px; *//* width: 59%; *//* display: block; */lock; *position: absolute;z-index: 8000;font-family: Hammerhead;}

.message-sub {
  color: #999;
  display: inline-block;
  font-family: Lato;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400;
  text-transform: none;
  font-style: italic;
}

.message-0 {
  /* top: 90%; */
}

.message-1 {
  top: 30%;
}